USE [QLCuaHangSach]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [varchar](10) NOT NULL,
	[Ngaymua] [date] NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[Trangthai] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[MaDHCT] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [varchar](10) NOT NULL,
	[MaLS] [varchar](10) NOT NULL,
	[MaS] [int] NOT NULL,
	[Tens] [nvarchar](300) NULL,
	[Soluong] [int] NOT NULL,
	[Giatien] [float] NOT NULL,
	[Ghichu] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDHCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLS] [varchar](10) NOT NULL,
	[TenLS] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[Matkhau] [varchar](50) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[Vaitro] [bit] NOT NULL,
	[Hinh] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaS] [int] IDENTITY(1,1) NOT NULL,
	[MaLS] [varchar](10) NOT NULL,
	[TenS] [nvarchar](300) NOT NULL,
	[Tacgia] [nvarchar](150) NOT NULL,
	[NXB] [nvarchar](100) NOT NULL,
	[NSX] [date] NOT NULL,
	[Sotrang] [int] NOT NULL,
	[Soluong] [int] NOT NULL,
	[Gianhap] [float] NOT NULL,
	[Giaban] [float] NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[Hinh] [nvarchar](1000) NULL,
	[Mota] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DonHang] ([MaDH], [Ngaymua], [MaNV], [Trangthai], [TongTien]) VALUES (N'D0045', CAST(N'2020-02-11' AS Date), N'NV03', NULL, NULL)
INSERT [dbo].[DonHang] ([MaDH], [Ngaymua], [MaNV], [Trangthai], [TongTien]) VALUES (N'DH0001', CAST(N'2020-03-11' AS Date), N'NV06', N'Huy don', 2448000)
INSERT [dbo].[DonHang] ([MaDH], [Ngaymua], [MaNV], [Trangthai], [TongTien]) VALUES (N'DH0002', CAST(N'2020-09-12' AS Date), N'NV02', N'Chốt đơn', 1711000)
GO
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] ON 

INSERT [dbo].[DonHangChiTiet] ([MaDHCT], [MaDH], [MaLS], [MaS], [Tens], [Soluong], [Giatien], [Ghichu]) VALUES (2, N'DH0001', N'QTLD', 75, N'Giá Trong Chiến Lược Kinh Doanh - Đắt Mà Bán Chạy, Rẻ Mà Có Lãi', 6, 75000, N' 450,000 ')
INSERT [dbo].[DonHangChiTiet] ([MaDHCT], [MaDH], [MaLS], [MaS], [Tens], [Soluong], [Giatien], [Ghichu]) VALUES (3, N'DH0001', N'NT', 37, N'Tớ Thích Cậu Hơn Cả Harvard', 5, 98000, N' 490,000 ')
INSERT [dbo].[DonHangChiTiet] ([MaDHCT], [MaDH], [MaLS], [MaS], [Tens], [Soluong], [Giatien], [Ghichu]) VALUES (4, N'DH0001', N'HHTC', 167, N'Điệp Viên Không Không Thấy Và Đại Văn Mỗ', 6, 85000, N' 510,000 ')
GO
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] OFF
GO
INSERT [dbo].[LoaiSach] ([MaLS], [TenLS]) VALUES (N'CK', N'CHỨNG KHOÁN - BẤT ĐỘNG SẢN - ĐẦU TƯ')
INSERT [dbo].[LoaiSach] ([MaLS], [TenLS]) VALUES (N'CNLC', N'CẨM NANG LÀM CHA MẸ')
INSERT [dbo].[LoaiSach] ([MaLS], [TenLS]) VALUES (N'CSHG', N'Chicken Soup - Hạt Giống Tâm Hồn')
GO
INSERT [dbo].[NhanVien] ([MaNV], [Matkhau], [Hoten], [SDT], [Vaitro], [Hinh]) VALUES (N'NV01', N'123', N'Lê Hải Lâm', N'342090370 ', 0, N'c9ad9d6c2c9b842a4a4fab06624be333.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [Matkhau], [Hoten], [SDT], [Vaitro], [Hinh]) VALUES (N'NV02', N'admin', N'Nguyễn Trần Thiên Hậu', N'374073186 ', 1, N'studio-quoc-khai-318820.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [Matkhau], [Hoten], [SDT], [Vaitro], [Hinh]) VALUES (N'NV03', N'123', N'Trần Hữu Nhân', N'975771230 ', 0, N'2-249.jpg')
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaS], [MaLS], [TenS], [Tacgia], [NXB], [NSX], [Sotrang], [Soluong], [Gianhap], [Giaban], [MaNV], [Hinh], [Mota]) VALUES (1, N'CK', N'Nhà Đầu Tư Thông Minh', N'Benjamin Graham', N'NXB Thế Giới', CAST(N'2011-03-11' AS Date), 644, 93, 169000, 199000, N'NV01', N'image_195509_1_44030.jpg', N'mới nhập thêm 1 cuốn!')
INSERT [dbo].[Sach] ([MaS], [MaLS], [TenS], [Tacgia], [NXB], [NSX], [Sotrang], [Soluong], [Gianhap], [Giaban], [MaNV], [Hinh], [Mota]) VALUES (2, N'MKBH', N'Người Bán Hàng Vĩ Đại Nhất Thế Giới', N'Og Mandino', N'NXB Tổng Hợp TPHCM', CAST(N'2011-07-11' AS Date), 296, 100, 118000, 148000, N'NV03', N'image_195509_1_47973.jpg', N'')
INSERT [dbo].[Sach] ([MaS], [MaLS], [TenS], [Tacgia], [NXB], [NSX], [Sotrang], [Soluong], [Gianhap], [Giaban], [MaNV], [Hinh], [Mota]) VALUES (3, N'KTKT', N'Nguyên Lý Kế Toán', N'Nhiều Tác Giả', N'NXB Đại Học Kinh Tế Quốc Dân', CAST(N'2011-01-01' AS Date), 319, 100, 111000, 128000, N'NV01', N'image_233300.jpg', N'')
GO
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([MaLS])
REFERENCES [dbo].[LoaiSach] ([MaLS])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([MaS])
REFERENCES [dbo].[Sach] ([MaS])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaLS])
REFERENCES [dbo].[LoaiSach] ([MaLS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD CHECK  (([Soluong]>=(0) AND [Giatien]>=(0)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([Soluong]>=(0) AND [Sotrang]>(0) AND [Gianhap]>=(0) AND [Giaban]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuSACH]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DoanhThuSACH](@Year int)
as begin
	select
		--ct.MaLS as Loaisach,
		ls.TenLS,
		SUM(( ct.Giatien  *ct.Soluong ) - ( s.Gianhap * ct.Soluong )) as TienLai
	from DonHangChiTiet ct 
	join DonHang d on ct.MaDH = d.MaDH
	join Sach s on s.MaS=ct.MaS
	join LoaiSach ls on ls.MaLS=ct.MaLS
	where YEAR(d.Ngaymua) = @Year
	Group by ct.MaLS,ls.TenLS
	order by TienLai desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_top]    Script Date: 12/7/2021 1:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_top]
as 
begin
	Select Top 5 ls.TenLS,
				s.TenS, 
				SUM(ct.Soluong) as Soluong
	from  DonHangChiTiet ct
	join Sach s on s.MaS = ct.MaS
	join LoaiSach ls on ls.MaLS = s.MaLS
	group by ls.TenLS,s.TenS
	order by Soluong desc
end
GO
